* {
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  margin: 0;
}

header {
  padding: 20px 20px 0 20px;
  background-color: hsl(193, 100%, 96%);
  background-image: url("/images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

button {
  border: none;
  border-radius: 12px;
  background-color: white;
  font-weight: bold;
  box-shadow: 0px 4px 10px -3px #888888;
  font-size: 11px;
  width: 95px;
  height: 25px;
}

section {
  display: flex;
  text-align: center;
  flex-flow: column wrap;
  align-items: center;
}

section article h1 {
  font-weight: 600;
  font-size: 23px;
}

article {
  text-align: center;
  margin-bottom: 18px;
}

article h1 {
  margin-top: 70px;
  margin-bottom: 40px;
}

.pink-button {
  background-color: hsl(322, 100%, 66%);
  width: 15rem;
  height: 37px;
  color: white;
  border-radius: 20px;
  letter-spacing: 1px;
  box-shadow: 0px 4px 10px 0px #888888;
}

header section button {
  margin-bottom: 50px;
}

header section img {
  max-width: 90%;
  height: auto;
  margin-bottom: 30px;
}

main {
  position: relative;
  z-index: 2;
}

main section {
  margin: 5%;
  border-radius: 17px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 30px;
  margin-top: 50px;
}

main section img {
  max-width: 90%;
  height: auto;
  margin: 50px 0 30px 0;
}

main section p {
  color: hsl(208, 11%, 55%);
  margin-bottom: 50px;
  margin-top: 0;
}

.your-users-section {
  margin-bottom: 50px;
}

aside {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 130px;
  position: relative;
  z-index: 5;
}

.aside-article {
  border-radius: 17px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 95%;
  height: 200px;
  margin-bottom: 0;
  background-color: #ffffff;
}

h3 {
  margin-top: 50px;
}

aside article button {
  margin-top: 15px;
}

footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  padding: 4%;
  margin-top: -20%;
}

.footer-logo img {
  max-width: 50%;
  height: auto;
}

.row {
  margin-top: 25%;
  height: auto;
}

.col-12 {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  margin-top: 5%;
}

.row div p {
  margin-top: 0;
  padding: 0 5% 0 0;
}

.common-feature img {
  max-width: 5%;
  height: auto;
  margin-right: 7%;
}

#footer-info {
  margin-top: 10%;
}

.footer-info {
  display: flex;
  flex-flow: column wrap;
  margin-top: 0;
}

h4 {
  margin: 0 0 5% 0;
}

.row div:last-child {
  text-align: center;
  font-size: 12px;
}

.footer-img img {
  max-width: 7%;
  height: auto;
  margin: 5% 3%;
  background-color: #ffffff;
  border-radius: 50%;
}

/* desktop version */
@media only screen and (min-width: 1020px) {
  header {
    padding: 40px 40px 0 40px;
    background-image: url("/images/bg-hero-desktop.svg");
  }

  nav button {
    width: 120px;
    height: 30px;
    border-radius: 15px;
  }

  nav img {
    height: auto;
    width: 12%;
  }

  section {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    padding: 50px 0 50px 0;
  }

  article {
    text-align: left;
  }

  section .pink-button {
    position: absolute;
    top: 28rem;
  }

  section .intro-section {
    position: relative;
    padding-right: 80px;
    width: 40%;
    top: 10px;
  }

  .intro-section h1 {
    font-size: 35px;
    padding-right: 90px;
  }

  header section img{
    position: relative;
    right: -4rem;
    width: 55%;
    height: auto;
  }

  main {
    margin-top: 8%;
    margin-bottom: 25%;
    display: flex;
    flex-flow: column;
  }

  main section {
    margin-bottom: 0;
    height: 33.3%;
    max-height: 70%;
  }

  main section:nth-child(2) {
    display: flex;
    flex-flow: row;
  }

  main section:nth-child(2) img {
    left: 0;
  }

  main section:nth-child(2) h2 {
    left: 15rem;
  }

  main section:nth-child(2) p {
    left: -7rem;
  }

  main section img {
    position: relative;
    right: -55%;
  }

  main section h2 {
    position: relative;
    text-align: left;
    left: -40%;
    margin: 0;
    top: 150px;
    width: 100%;
  }

  main section p {
    position: relative;
    left: -67%;
    margin: 0;
    top: 200px;
    text-align: left;
    width: 100%;
  }

  aside {
    max-width: 50%;
    position: relative;
    top: -13rem;
    left: 25%;
  }

  footer {
    padding-bottom: 0;
  }

  .aside-article {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .aside-article button {
    height: 25%;
    border-radius: 25px;
  }

  .row {
    margin: 100px 50px 0 50px;
    height: 350px;
  }

  .common-feature {
    width: 25%;
    height: auto;
    margin-top: 3%;
  }

  .row .icon-phone, .row .icon-email {
    margin-top: 10px;
  }

  #footer-info {
   margin-top: 0;
   left: 30rem;
   top: -13.3rem;
  }

  .footer-info {
    position: relative;
    left: 50rem;
    top: -20.3rem;
    width: max-content;
  }

  .footer-info h4 {
    margin-bottom: 12px;
  }

  .row .footer-logo img {
    width: 15%;
    height: auto;
  }

  .footer-img {
    position: relative;
    width: max-content;
    height: 15rem;
    left: 61.5rem;
    top: -26.7rem;
  }

  .footer-img img {
    position: relative;
    margin-top: 0;
    left: -6.3rem;
  }

  .footer-img p {
    text-align: left;
    position: relative;
    top: 74%;
  }
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
